Flask==3.0.3
ultralytics==8.3.158

torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu

numpy==1.26.4
opencv-python-headless==4.9.0.80  # Manually force headless
pandas==2.2.2
requests==2.32.4
Werkzeug==3.0.6

--extra-index-url https://download.pytorch.org/whl/cpu
--prefer-binary
